<html>
    <head>
        <title>Tejas Resume in Flask</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <section class="page" id="about">
            <div class="content container">
                <div class="row screen col-lg-12 col-md-12">
                    <h1 class="col-lg-12 col-md-12 col-md-offset-2">**** Commodore 64 Basic V2 ****</h1>
                    <p class="col-lg-12 col-md-12 col-md-offset-2">64k RAM System 38900 Basic Bytes Free</p>
                    <p class="ready col-sm-12">Ready.</p>
                    <p class="searching col-sm-12">Searching for Tejas Hirani Resume</p>
                    <p class="loading col-lg-12">Loading</p>
                    <p class="loading col-lg-12">Ready.</p>
                    <h2 class="col-md-8 col-md-offset-2">Tejas Hirani</h2>
        
                    <p class="col-md-12 col-md-offset-2"><span>I'M a Backend Devopler Based in Bhuj, with Experince and A Desire to make the world brighter.</span><br><br>
                        I've worked for the Encycode, ShreeSoft, RKU and am currently working remotely as a laravel Devopler for Encycode.<br><br>
                    </p>
                </div><!-- row -->
            </div><!-- content container -->
        </section><!-- about section -->
    </body>
</html>